@{
    ViewData["Title"] = "Products";
}

@model ProductsListViewModel
<h1>All products</h1>
<p>We have a large collection of amazing legos with personalized recommendations for every customer.</p>
<form asp-action="Products" method="get">
    <select name="pageSize" onchange="this.form.submit()">
        <option value="5" selected="@(Model.PaginationInfo.ItemsPerPage == 5)">5</option>
        <option value="10" selected="@(Model.PaginationInfo.ItemsPerPage == 10)">10</option>
        <option value="15" selected="@(Model.PaginationInfo.ItemsPerPage == 15)">15</option>
    </select>
    <input type="hidden" name="pageNum" value="@Model.PaginationInfo.CurrentPage" />
</form>

<partial name="_CookieConsentPartial" />
<div class="row">
    @foreach (Product p in Model.Products)
    {
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-body text-center d-flex flex-column justify-content-center">
                    <img src="@p.ImgLink" alt="@p.Name" class="card-img-top" style="width:100%; height:auto; margin-bottom: 10px">
                    <h4 class="card-title">@p.Name</h4>
                    <h5 class="card-price" style="font-weight: bold">$@p.Price</h5>
                </div>
            </div>
        </div>
    }
</div>
<div class="pagination pagination-lg" class="page-item disabled" page-model="@Model.PaginationInfo" page-classes-enabled="true" page-action="Products" page-class="btn" 
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"></div>